{% extends "Empty.html" %}
{% load static %}
    {% block ContenidoCambia %}
        <p>&nbsp;</p>
    <h3> Estamos para acompañarte, guiarte y enseñarte en aquellos temas que necesites </h3>
    <h4> Contamos con tutores capacitados, con experiencia académica y profesional para resolver tus dudas de la mejor manera</h4>
    <img src="https://universoabiertoblog.files.wordpress.com/2018/04/relacao-professor-e-aluno-como-compartilhar-conhecimento-de-verdade.jpeg?w=625">
    <h4> Unite a los tantos otros alumnos que invierten en el conocimiento</h4>
    <a href="{% url 'registro' %}"><h4>Registrate aquí</h4></a>
    <h4> Ya eres parte y necesitas solicitar una clase</h4>
    <a href="{% url 'CrearClase' %}"><h4>Hacelo aquí</h4></a>
        
    </div>
    </body>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    {% endblock %}