<div>
  {% extends "Empty.html" %}
  {% load static %}
  {% block ContenidoCambia %}
  <p>&nbsp;</p>
  <h2>Crear nueva clase ofrecida o solicitada</h2>
  <p>&nbsp;</p>
  <form action="/App1/CrearClase/" method="post"> {% csrf_token %}
    <ul>
      <li>
        <input placeholder="Título" type="text" name="titulo" required>
      </li>
      <br>
      <li>
        <select name="tipo" required>
          <option value="se ofrece">Se Ofrece</option>
          <option value="se necesita">Se Necesita</option>
        </select>
      </li>
      <br>
      <li>
        <select name="materia" required>
          <option value="matemática">Matemática</option>
          <option value="física">Física</option>
          <option value="química">Química</option>
          <option value="especialidad">Especialidad</option>
        </select>
      </li>
      <br>
      <li>
        <input placeholder="Nivel" type="text" name="nivel" required>
      </li>
      <br>
      <li>
        <textarea placeholder="Descripción" name="descripcion" required></textarea>
      </li>
      <br>
      <li>
        <input placeholder="Fecha de Publicación" type="text" name="fechaPublicacion" id="fechaPublicacion" required>
      </li>
      <script>
        var fechaActual = new Date();
        var dia = fechaActual.getDate();
        var mes = fechaActual.getMonth() + 1;
        var anio = fechaActual.getFullYear();
        var fechaFormateada = (dia < 10 ? '0' : '') + dia + '/' + (mes < 10 ? '0' : '') + mes + '/' + anio;
    
        document.getElementById('fechaPublicacion').value = fechaFormateada;
      </script>
      <br>
      <li>
        <input placeholder="Teléfono de Contacto" type="tel" name="telefonoContacto" required>
      </li>
      <br>
      <li>
        <input placeholder="Email de Contacto" type="email" name="emailContacto" required>
      </li>
      <br>
      <li>
        <input type="file" name="imagenAlusiva">
      </li>
    </ul>
    <input class="btn btn-primary" type="submit" value="Enviar">
  </form>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  {% endblock %}
</div>
