<div>
{% extends "Empty.html" %}
{% load static %}
    {% block ContenidoCambia %}
            <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.ecestaticos.com/z3OlGPe8BhnLmt2L8zKOnvTYN_8=/0x0:999x750/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F944%2F816%2Fe81%2F944816e8192f7094ef5cc02ada386667.jpg" width=800px alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Lambda Academy</h1>
                    <p style="text-align: justify;">Somos una plataforma de encuentro entre docentes que ofrecen tutorías y clases particulares y los alumnos que las necesitan. Estudiar forma tu futuro y queremos que encuentres a los profesionales indicados para acompañarte y ayudarte.</p>
                    <a class="btn btn-primary" href="../AboutUs/">Conoce nuestra iniciativa</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">"La educación es el arma más poderosa que puedes usar para cambiar el mundo. -Nelson Mandela"  </p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title" style="color:black;" >Tutores</h2>
                            <p class="card-text" style="color:black">Se parte de nuestra familia, registrate para poner tu conocimiento a disposición de quienes lo necesitan.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="../registro/">Registrate como profesor!</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title" style="color:black;" >Alumnos</h2>
                            <p class="card-text" style="color:black">Encontrá la guía que necesitas para alcanzar tu futuro.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="../registro/">Registrate como alumno!</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title" style="color:black;">Cursos</h2>
                            <p class="card-text" style="color:black;">Encontrá las clases ofrecidas, ofrecé la tuya como tutor o hacé tu pedido como alumno. Todo en el mismo lugar!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="../Clases/">Ver cursos!</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
</div>