{% extends "Empty.html" %}
{% load static %}

{% block ContenidoCambia %}
    {% for clase in clases_fisica %}
        <div style="display: flex; align-items: center;">
            {% if clase.imagenAlusiva %}
                <img src="{{ clase.imagenAlusiva.url }}" alt="Imagen Alusiva" style="height: 200px;width: 200px; margin-right: 20px;">
            {% endif %}
            <div>
                <h3>{{ clase.titulo }}</h3>
                <h5>{{ clase.tipo }}</h5>
                <a href="{% url 'DetalleClase' clase.pk %}" class="btn btn-primary">Ver Más</a>
                {% if clase.usuario == request.user %}
                <button class="btn btn-warning"><a href="{% url 'EditarClase' clase.id %}">Editar</a></button>
                <button class="btn btn-danger" ><a href="{% url 'BorrarClase' clase.id %}">Borrar</a></button>
                {% endif %}
            </div>
        </div>
       
    {% endfor %}
    <p>&nbsp;</p>
    <a href="{% url 'CrearClase' %}"><h4>Agrega la clase que ofreces o necesitas aquí</h4></a>
    <p>&nbsp;</p>
{% endblock %}